@media only screen and (max-width: 500px) {
    @-ms-viewport {
        max-width: 310px;
    }
}

html {
    min-height: 100%;
    position: relative;
}

body {
    font: 16px/1.5 "Trebuchet MS", Helvetica georgia, sans-serif;
    text-align: center;
    background: black;
    color: #dfdfdf;
    margin: 0 0 50px;
    min-width: 280px;
    -ms-touch-action: auto;
    touch-action: auto;
}

#time {
    display: inline-block;
    font-size: 6em;
    margin-top: .1em;
    line-height: 1em;
}

#timescore {
    margin-bottom: 0;
}

p {
    font-size: 2.5em;
    margin: .3em 0;
}

    p span {
        font-weight: bold;
    }

ul {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: .5em auto 0 auto;
    display: inline-block;
}

    ul strong {
        display: block;
        margin-top: .8em;
    }

    ul li span {
        display: inline-block;
        width: 58px;
    }

.active {
    color: #eec04d;
}

#highscore {
    margin-top: .8em;
    margin-bottom: .8em;
    font-size: 1.3em;
}

    #highscore > span:first-child {
        display: inline-block;
        margin-right: 1em;
    }

    #highscore > span span {
        font-weight: bold;
    }

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    margin-top: 20px;
    font-size: 90%;
    opacity: .8;
}

    footer a {
        color: inherit;
    }

    footer img {
        position: relative;
        top: 2px;
        margin: 0 4px;
    }

#badges {
    width: 310px;
    margin: 0 auto 1em auto;
}

    #badges p {
        background: url(/assets/img/badge.svg) no-repeat;
        width: 100px;
        height: 100px;
        display: inline-block;
        position: relative;
        outline: 0;
        cursor: default;
    }

        #badges p:hover:after,
        #badges p:active:after,
        #badges p:focus:after {
            content: attr(aria-label);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 16px;
            background-color: rgba(0, 0, 0, 0.40);
            text-shadow: 1px 1px #0c0c0c;
        }

        #badges p span {
            position: absolute;
            bottom: 5px;
            right: 0;
            text-align: left;
            width: 30px;
            display: block;
            font-size: .4em;
            opacity: .8;
        }

#meter {
    height: 2px;
    width: 0;
    background: linear-gradient(to right, transparent, #919191);
    /*-moz-transition: width 1s linear;
    -o-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    transition: width 1s linear;*/
}

#timeContainer {
    display: inline-block;
