<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" enableVersionHeader="false" />
    </system.web>

    <system.webServer>
        <staticContent>
            <clientCache cacheControlCustom="private"/>
            <remove fileExtension=".html"/>
            <mimeMap fileExtension=".html" mimeType="text/html;charset=utf-8"/>
            <remove fileExtension=".appcache" />
            <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
            <remove fileExtension=".svg"/>
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
            <remove fileExtension=".svgz"/>
            <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
        </staticContent>

        <httpProtocol>
            <customHeaders>
                <remove name="x-powered-by"/>
                <add name="Content-Security-Policy" value="object-src 'none';"/>
                <add name="Arr-Disable-Session-Affinity" value="True"/>
                <add name="Vary" value="Accept-Encoding, If-Modified-Since"/>
            </customHeaders>
        </httpProtocol>

        <rewrite>
            <outboundRules rewriteBeforeCache="false">
                <!--<rule name="Remove ETag">
                    <match serverVariable="RESPONSE_ETag" pattern=".+"/>
                    <action type="Rewrite" value=""/>
                </rule>-->

                <rule name="Send correct Vary">
                    <match serverVariable="RESPONSE_Vary" pattern=".+"/>
                    <action type="Rewrite" value="Accept-Encoding, If-Modified-Since"/>
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
